@page
@using Microsoft.Extensions.Localization
@using DsPermissionManagement.Localization
@model DsPermissionManagement.Web.Pages.DsPermissionManagement.IndexModel
@inject IStringLocalizer<DsPermissionManagementResource> L
@{
}
<h1>DsPermissionManagement</h1>
<p>@L["SamplePageMessage"]</p>
