@page "/DsPermissionManagement"
@using Microsoft.Extensions.Localization
@using global::DsPermissionManagement.Localization
@inject IStringLocalizer<DsPermissionManagementResource> L
@{
}
<h1>DsPermissionManagement</h1>
<p>@L["SamplePageMessage"]</p>